mixin button(tag, style, text) 
    -
        const blockName = 'button';
        const blockAttributes = {
            class: [blockName]
        };
        
    if(style)
        each s in style.split(' ')
            - blockAttributes.class.push(`${blockName}__${s}`)
        #{tag}&attributes(Object.assign({}, attributes, blockAttributes)) #{text}
    //- .button__wrap
    //- if(underline)
    //-         span(class=`${blockName}__underline`)
    //-             #{tag}&attributes(Object.assign({}, attributes, blockAttributes)) #{text}
    //- else
        #{tag}&attributes(Object.assign({}, attributes, blockAttributes)) #{text}
        

    
    
    